.settings {
    &__main {
        padding: 8.7rem 2.4rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--small-padding {
            padding-top: 4.7rem;
        }
    }
}

.horizontal-line {
    margin: 0 1.6rem;
    width: 90%;
    color: var(--grayd8);
}
