.settings {
    &__main {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem solid var(--gray88);
    }
}
