.settings {
    &__main {
        padding: 5.8rem 4.4rem 1.7rem 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem solid var(--gray88);
    }
}
