:root {
    --white: #ffffff;
    --gray-base: #4d4d4d;

    @media (prefers-color-scheme: dark) {
        --white: #1e1e1e;
        --gray-base: #cccccc;
    }
}

body {
    background-color: var(--white);
    color: var(--gray-base);
}

@-moz-document url-prefix() {
    body {
        min-height: 250px
    }

    .options {
        padding: 24px;
    }
}
