* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    text-rendering: geometricPrecision;
}

#root,
html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--white);
    font-size: 2.5rem;
    font-weight: 400;
    transition: min-height 0.15s linear;
    text-overflow: ellipsis;
}
