* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: var(--font-primary);
    min-width: 32rem;
    min-height: 44rem;
    font-size: 2.5rem;
    font-weight: 400;
    overflow: hidden;
    transition: min-height 0.15s linear;
    text-overflow: ellipsis;

    &.height {
        &--extended {
            min-height: 39.7rem;
        }
    }
}
