.trial-expired {
    background-image: url('../../../../assets/images/trial-expired.jpg');
    background-size: cover;
    width: 100%;
    min-height: 480px;
    padding: 80px 24px;
    color: #fff;
    text-align: center;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
    }
}